.home-banner {
  height: calc($sp-16 * 25);
  margin-bottom: 4$sp-4;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: $sp-4;
  width: 100%;
  height: calc($sp-16 * 25);
  margin-bottom: $sp-4;

  &::before {
    content: "";
    color: $primary-white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $text-shadow;
    border-radius: $sp-4;
  }

  &__card {
    background-color: $primary-white;
    border-radius: $sp-4;
    bottom: $sp-20;
    box-shadow: 0 $sp-12 $sp-24 calc($sp-2 + $sp-4) $box-shadow;
    left: $sp-20;
    left: calc($sp-16 * 5);
    min-width: calc($sp-48 * 6 + $sp-4);
    padding: $sp-20;
    position: absolute;

    &--blog-title {
      font-size: $sp-24;
      font-weight: $font-bold;
      margin-bottom: $sp-2;
    }

    &__category-name {
      font-size: $sp-16;
      background-color: $category-color;
      border-radius: 0 $sp-4 0 0;
      color: $primary-white;
      padding: $sp-4;
      width: calc($sp-48 * 3 + $sp-2);
    }

    &--author-info {
      align-items: center;
      display: flex;
      gap: $sp-24;
      margin: $sp-20 0;

      &---author-image {
        border-radius: 50%;
        height: calc($sp-24 + $sp-4);
        width: calc($sp-24 + $sp-4);
      }

      &---author-name {
        color: $secondary-gray;
        font-weight: $font-bold;
      }

      &---blog-createdAt {
        color: $secondary-gray;
      }
    }
  }

  &__auth-card {
    position: absolute;
    bottom: $sp-48;
    left: calc($sp-16 * 5);
    min-width: calc($sp-48 * 6 + $sp-4);

    &__category-name {
      font-size: $sp-16;
      background-color: $category-color;
      border-radius: 0 $sp-4 0 0;
      color: $primary-white;
      padding: $sp-4;
      width: calc($sp-48 * 3 + $sp-2);
    }

    &--blog-title {
      margin: 0;
      font-size: $sp-36;
      font-weight: $font-bold;
      color: $primary-white;
      text-shadow: $sp-2 $sp-2 $sp-4 $text-shadow;
      text-align: center;
    }

    &--author-info {
      &---author-image {
        border-radius: 50%;
        height: calc($sp-24 + $sp-4);
        width: calc($sp-24 + $sp-4);
      }

      &---author-name {
        color: $primary-white;
        font-weight: $font-bold;
      }

      &---blog-createdAt {
        color: $primary-white;
      }
    }
  }
}
