form {
  background-color: #f6f6f7;
  padding: 1rem;
  border-radius: 8px;
  display: flex;

  flex-direction: column;
  margin: 1.75rem 0;

  .title-tags-form-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }

  label {
    display: block;
    font-weight: bold;
  }
  .form__buttons {
    text-align: center;

    .submit-button {
      color: #fff;
      background-color: #49a4cb;
      border-radius: 0.25rem;
      border: 1px solid #e8e8ea;
      margin: 0 0.3rem;
      padding: 0.25rem 0.75rem;
    }
    .cancel-button {
      color: #000;
      background-color: #f2f2f2;
      border-radius: 0.25rem;
      border: 1px solid #e8e8ea;
      margin: 0 0.3rem;
      padding: 0.25rem 0.75rem;
    }
  }
}
