.author-about {
  text-align: center;
  background-color: #f6f6f7;
  padding: 3rem;
  border-radius: 0.75rem;

  &__details {
    display: flex;
    align-items: center;
    justify-content: center;

    &--image {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 1rem;
    }

    &__info {
      &__fullname {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.75rem;
        letter-spacing: 0em;
        text-align: left;
        color: #181a2a;
      }

      &__subtitle {
        color: #696a75;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  &__about {
    color: #3b3c4a;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
  }

  &__social-links {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
  }
}
