form {
  background-color: #f6f6f7;
  padding: 16px;
  border-radius: 8px;
  display: flex;

  flex-direction: column;
  margin: 28px 0;

  .title-tags-form-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  label {
    display: block;
    font-weight: bold;
  }
}
