$primary-gray: #e8e8ea;
$button-secondary-color: #49a4cb;
$button-border-color: rgba(232, 232, 234, 1);
$success-color: #056b1c;
$error-color: #ff0000;
$background-gray: #f6f6f7;
$category-bg-color: rgba(75, 107, 251, 0.05);
$category-color: #4b6bfb;
$secondary-gray: #97989f;
$primary-white: #fff;
$text-shadow: rgba(0, 0, 0, 0.5);
$text-dark: #181a2a;
$text-subtitle: #696a75;
$text-about: #696a75;
