.blog-details {
  padding: 0 $sp-12;
  &__category-badge {
    background-color: $category-bg-color;
    border-radius: calc($sp-4 + $sp-2);
    color: $category-color;
    margin: $sp-16 0;
    padding: $sp-4 calc($sp-8 + $sp-2);
    width: calc($sp-48 * 3 + $sp-2);
  }

  &__author-info {
    align-items: center;
    display: flex;
    gap: $sp-24;
    margin: $sp-20 0;

    &--author-image {
      height: $sp-16;
      width: $sp-16;
      border-radius: 50%;
    }

    &--author-name {
      color: $secondary-gray;
      font-weight: $font-bold;
    }

    &--blog-createdAt {
      color: $secondary-gray;
    }
  }

  &__banner {
    border-radius: $sp-8 $sp-8 0 0;
    max-width: 100%;
  }

  &__blog-body {
    color: $text-dark;
    margin: $sp-16 0;
  }
}
