@import "../../styles/colors";

.form-container {
  &__form {
    min-width: 30rem;
    margin: auto;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
  }

  &__field {
    margin-bottom: 1rem;

    & input {
      width: 100%;
      padding: 0.625rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      box-sizing: border-box;
    }

    & span {
      color: $error-color;
      font-size: 0.75rem;
      margin-top: 0.25rem;
      display: block;
    }
  }

  &__error {
    color: $error-color;
    margin-top: 1rem;
  }

  &__buttons {
    margin-top: 1rem;

    &__button {
      width: 100%;
      padding: 1rem;
      background-color: $button-secondary-color;
      color: $button-primary-color;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;

      &:hover {
        background-color: $button-secondary-color;
      }
    }
  }

  &__link-button {
    margin-top: 1rem;

    & a {
      color: $button-secondary-color;
      text-decoration: none;
      font-size: 0.875rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
