.form-container {
  &__form {
    min-width: calc($sp-16 * 30);
    margin: auto;
    box-shadow: 0 0 $sp-16 $primary-gray;
    padding: $sp-20;
  }
  &__field {
    margin-bottom: $sp-16;
    & input {
      width: 100%;
      padding: calc($sp-2 * 5);
      border: $sp-2 solid $button-border-color;
      border-radius: $sp-4;
      box-sizing: border-box;
    }
    & span {
      color: $error-color;
      font-size: $sp-12;
      margin-top: $sp-4;
      display: block;
    }
  }
  &__error {
    color: $error-color;
    margin-top: $sp-16;
  }
  &__buttons {
    margin-top: $sp-16;
    &__button {
      width: 100%;
      padding: $sp-16;
      background-color: $button-secondary-color;
      color: $primary-gray;
      border: none;
      border-radius: $sp-4;
      cursor: pointer;
      &:hover {
        background-color: $button-secondary-color;
      }
    }
  }
  &__link-button {
    margin-top: $sp-16;
    & a {
      color: $button-secondary-color;
      text-decoration: none;
      font-size: calc($sp-16 + $sp-2);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__success-message {
    text-align: center;
    color: $success-color;
    padding-bottom: calc($sp-16 * 2);
  }
  &__error-message {
    text-align: center;
    color: $error-color;
    padding-bottom: calc($sp-16 * 2);
  }
}
